:root {
    --color-body: linear-gradient(to bottom, #8e6c6c, #665348, #3f3b30, #1f221c, #010302);
}

body {
    background: var(--color-body) fixed;
}

.app {
    display        : flex;
    justify-content: center;
}

.login {
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: rgb(128, 113, 96);
    height          : 13rem;
    width           : 25rem;
    margin-top      : 7rem;
    border-radius   : 1rem;
    color           : white;
}

.login input {
    border-radius: 0.5rem;
    border-width : 1px;
}

.login button {
    border-radius: 0.5rem;
    margin-top   : 1rem;
    border-width : 1px;
}

.list {
    margin-top         : 2rem;
    height             : auto;
    /* background-color:aqua; */
}

.singlePost {
    background-color: rgb(128, 113, 96);
    margin-top      : 1rem;
    /* padding-top  : 0.1rem; */
    text-align      : center;
    height          : auto;
    max-width       : 25rem;
    border-radius   : 1rem;
    color           : white;
    background-repeat: repeat-y;
}

.singlePost img {
    max-height: 2rem;
    width     : auto;
}

h1 {
    margin-top: 5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
}